.home-button {
  transition-property: font-size;
  transition-duration: 2s;
}

.home-button:hover {
  font-size: 30px;
}

.first-letter::first-letter {
  font-size: 15px;
}

.make-bigger {
  transition-property: width, height;
  transition-duration: 2s;
}

.make-bigger:hover {
  width: 700px;
  height: 700px;
}

#custom-id {
  margin-left: auto;
  /* border: 1px solid green; */
}

#custom-container1 {
  height: 100%;
}

#custom-table {
  height: 500px;
}
