#custom-container {
  /* border: 1px solid red; */
}

#custom-id {
  margin-left: auto;
  /* border: 1px solid green; */
}

#custom-container1 {
  height: 100%;
}

.box1 {
  /* border: 1px solid red; */
  /* background-color: #290025; */
}

.box2 {
  /* border: 1px solid blue; */
  /* background-color: #35012c; */
}

#outer-container {
  /* height: 100vh; */
  /* border: 1px solid red; */
}

#custom-container2 {
  /* border: 1px solid red; */
  /* height: 100vh; */
}

#custom-table {
  height: 500px;
}

#custom-id2 {
  /* border: 1px solid blue; */
}
