.main_container {
  background-color: black;
}

.section1 {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  flex-direction: row;
}

.section2 {
  background-color: gray;
}

.section3 {
  background-color: gray;
}

.profile_picture {
  width: 100px;
  height: 100px;
}

.container {
  display: inline;
}

.basic_information {
  margin-left: auto;
}
